*{margin:0; padding:0;box-sizing: border-box;}
.appointment{display: flex;}
.appointment .appointment_form{width: 60%; padding:20px;}
.form-group{margin: 0px 0px 10px 0px; }
.form-group .form-label{display: block;}
.form-group .form-control{width: 100%;border:solid 1px #eeeeee; padding:5px 10px ;border-radius: 4px;}
.form-group-wrapper{display: flex;justify-content: space-between;}
.form-group-wrapper .form-group {width: 50%;margin-right:20px;}
